In [30]:
import numpy as np
import pandas as pd
import os
os.chdir('C:\\Users\\G634583\\OneDrive - General Mills\\Desktop\\Rohit\\Test')

In [31]:
df = pd.read_excel('Date_Test.xlsx')
df_new_1 = ((df['Date'].dt.year)-1).astype(str) + '/' + (df['Date'].dt.year).astype(str)
df_new_2 = (df['Date'].dt.year).astype(str) + '/' + ((df['Date'].dt.year)+1).astype(str)
df['Year']= np.where(df['Date'].dt.month <= 6, df_new_1,df_new_2)
df['Month'] = df['Date'].dt.month

In [32]:
df['RN'] = df.sort_values(['Month','Year'], ascending=[True,False]) \
             .groupby(['Month']) \
             .cumcount() + 1
df['Flag'] = np.where(df['RN']==1, 'CY', 'PY')
df_new = df[['Date','Flag']]
df_new.head()

        Date Flag
0 2020-02-01   CY
1 2019-02-01   PY
2 2020-03-01   CY
3 2019-03-01   PY
4 2020-04-01   CY

In [33]:
df_new.to_excel('Final_Date_Output.xlsx')